[submodule "cpeckMod"]
	path = cpeckMod
	url = https://github.com/Lui-Davi/cpeckMod.git
	branch = main
[submodule "DbConnector"]
	branch = stable
[submodule "otrab"]
	path = otrab
	url = https://github.com/Lui-Davi/otrabMerge.git
[submodule "rolik111"]

	branch = vet1
 
	path = rolik111
	url = https://github.com/Lui-Davi/rolik1.git