[submodule "cpeckMod"]
	path = cpeckMod
	url = https://github.com/Lui-Davi/cpeckMod.git
	branch = main
[submodule "DbConnector"]
	branch = stable
[submodule "otrab"]
	path = otrab
	url = https://github.com/Lui-Davi/otrabMerge.git
